<link rel="stylesheet" href="/assets/css/footer.css">
<footer class="footer">
      <span>
        Copyright &copy; Coding Ninjas
      </label>
      <ul>
        <li class="nav-item"><a href="#">Privacy Policy</a></li>
        <li class="nav-item"><a href="#">Terms of use</a></li>
      </ul>
    </footer>