<link rel="stylesheet" href="/css/header.css">
<style>#main-navbar {
  font: 1.15em;
  background: #0d6efd;
}

#main-navbar ul {
  margin: 0;
  padding: 0.5rem;
}

#main-navbar li {
  display: inline-block;
  padding: 10px 20px;
}

#main-navbar li a {
  text-decoration: none;
  color: #fff;
}

#main-navbar li a:hover {
  padding-bottom: 3px;
  color: #000;
}
</style>
<nav id="main-navbar">
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
</nav>