
<link rel="stylesheet" href="/css/addFormPage.css">
<style>
  * {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  height: 88vh;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

  
  .custom-select {
  position: relative;
  display: inline-block;
}

.custom-select select {
  display: none; /* Hide the default select dropdown */
}

.custom-select:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transition: all 0.3s;
  pointer-events: none;
}

.custom-select select[multiple] {
  height: auto; /* Adjust the height based on the number of selected options */
}

.custom-select select[multiple] option {
  padding: 10px;
}

.custom-select select:focus + .custom-select:after {
  transform: translateY(-50%) rotate(-45deg);
}

.custom-select select[multiple] option:checked {
  background-color: #eaf2ff;
  color: #000;
}
</style>
<div class="container">
  <form action="/project/addProjectForm" method="post">
  <div class="row">
    <div class="col-25">
      <label for="pname">Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="pname" name="name" placeholder="Project name.." required/>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="authorname">Author</label>
    </div>
    <div class="col-75">
      <input type="text" id="authorname" name="author" placeholder="Author Name ...." required />
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="Description">Description</label>
    </div>
    <div class="col-75">
      <textarea id="description" name="description" placeholder="Write something.." style="height:200px" required></textarea>
    </div>
  </div>
  <br/>
  <div class="row">
    <input type="submit" value="Add Form"/>
  </div>
  </form>
</div>